@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
:root {
  --first-color: #849c84;
  --second-color: #132328;
  --third-color: #e4dbb4;
  --fourth-color: #e4dbb4;
}
.dark {
  --first-color: black;
  --second-color: #e4dbb4;
  --third-color: black;
  --fourth-color: #132328;
}
body {
  background-color: var(--first-color);
}
.carousel-text,
.figure-caption,
.footer-text,
.copyright-text {
  font-family: "Inconsolata", monospace;
  font-size: large;
}
/* navbar */
.navbar {
  background-color: #132328;
  z-index: 3;
  position: sticky;
  top: 0;
}

/* header-menus */
.navbar-toggler,
.nav-link,
.dropdown-menu,
.search_btn {
  background-color: var(--third-color);
  color: var(--second-color);
}

.nav-link:hover {
  background-color: #132328;
  color: #e4dbb4;
}
.search_btn:hover {
  background-color: #132328;
  color: #e4dbb4;
}
.darkmode_btn_CL {
  background-color: var(--third-color);
  color: var(--second-color);
}
.darkmode_btn_CL:hover {
  color: #e4dbb4;
}
/* carousel */
.carousel-caption-header {
  font-weight: bold;
}
#btn-trailer {
  background: transparent;
  border-color: #e4dbb4;
}

/* body */
.content_part {
  border-bottom: #132328 solid 1px;
}
.header_CL {
  border-left: var(--fourth-color) solid 8px;
  color: var(--second-color);
}

.figure-caption {
  color: var(--second-color);
}

.figure-img:hover {
  transform: scale(1.05);
}

/* pagination button */
.pagination-btn_CL {
  background-color: #132328;
  color: #e4dbb4;
}
.pagination-btn_CL:hover {
  color: #e4dbb4;
}
/* footer */
.footer-container {
  color: #132328;
}
.footer-header {
  border-left: #e4dbb4 solid 5px;
}
.footer-header-2 {
  margin-left: 5px;
}
.footer-ul {
  list-style: none;
}
.social_icon,
.footer-text {
  color: #132328;
}
#cr {
  background-color: #132328;
  color: #e4dbb4;
  margin-bottom: auto;
}

/* about page */
.intro,
.batch {
  color: var(--second-color);
}
