@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
:root {
  --first-color: #849c84;
  --second-color: #132328;
  --third-color: #e4dbb4;
  --fourth-color: #e4dbb4;
}
.darkTheme {
  --first-color: rgb(24, 23, 23);
  --second-color: #e4dbb4;
  --third-color: rgb(24, 23, 23);
  --fourth-color: #132328;
}
#root {
  background-color: #849c84;
}
.carousel-text,
.figure-caption,
.footer-text,
.copyright-text {
  font-family: "Inconsolata", monospace;
  font-size: large;
}
/* navbar */
.navbar {
  background-color: #132328;
  z-index: 3;
  position: sticky;
  top: 0;
}

/* header-menus */
.navbar-toggler,
.nav-item,
.search_btn {
  background-color: #e4dbb4;
  color: #132328;
}

.nav-item:hover {
  background-color: #132328;
  color: #e4dbb4;
}
.search_btn:hover {
  background-color: #132328;
  color: #e4dbb4;
}
.darkmode_btn_CL {
  background-color:#e4dbb4;
  color: #132328;
}
.darkmode_btn_CL:hover {
  color: #e4dbb4;
}

/* body */
.CL_container {
  border-bottom: #132328 solid 1px;
}
.header_CL {
  border-left: #e4dbb4 solid 8px;
  color: #132328;
}

span {
  color: #132328;
}

.figure-img:hover {
  transform: scale(1.05);
}

/* pagination button */
.pagination-btn_CL {
  background-color: #132328;
  color: #e4dbb4;
}
.pagination-btn_CL:hover {
  color: #e4dbb4;
}
/* footer */
.footer-container {
  color: #132328;
}
.footer-header {
  border-left: #e4dbb4 solid 5px;
}
.footer-header-2 {
  margin-left: 5px;
}
.footer-ul {
  list-style: none;
}
.social_icon,
.footer-text {
  color: #132328;
}
#cr {
  background-color: #132328;
  color: #e4dbb4;
  margin-bottom: auto;
}

/* about page */
.intro,
.batch {
  color: #132328;
}

.card_CL {
  background-color: #132328;
  height: 100%;
}
.span_detail_CL,
.card-text {
  color: #e4dbb4;
}

/* admin page */
.sidebar_CL{
  background-color: #132328;
  color: #e4dbb4;
}
.admin_list_CL{
  height: 100%;
  list-style: none;
  border-top: 1px solid #e4dbb4;
}